<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274258384662-mritpig1phjrlfkb6e227um13f9ja724.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274258384662-mritpig1phjrlfkb6e227um13f9ja724</string>
	<key>API_KEY</key>
	<string>AIzaSyC-pCqYYl54d5FramBxgrnJXXfxZ_SjYMw</string>
	<key>GCM_SENDER_ID</key>
	<string>274258384662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymrankiOS</string>
	<key>PROJECT_ID</key>
	<string>gymrankios</string>
	<key>STORAGE_BUCKET</key>
	<string>gymrankios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274258384662:ios:ed3e3d10896cc53fd76237</string>
</dict>
</plist>